<!-- Meta -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- About StonerHub -->
<meta name="robots" content="/robots.txt"> <!-- for robots! -->
<meta name="humans" content="/humans.txt"> <!-- for humans! -->

<meta name="poweredby" content="apptools for appengine (apptools.github.com)">
<meta name="author" content="sam gammon (momentum.io), neil michel (wire-stone.com)">

<meta name="keywords" content ="stonerhub, wirestone, [wire] stone, universal content repository">
<meta name="description" content="Quick and secure access to the best knowledge base in the industry">

<!-- OpenGraph -->
<meta property="og:title" content="{% if page.title %}{{ title }}{% endif %}" />
<meta property="og:type" content="web application" />
<meta property="og:url" content="www.stonerhub.com" />
<meta property="og:image" content="/assets/img/static/layout/wirestone/w-yellow.png" />
<meta property="og:site_name" content="StonerHub" />
{#<meta property="fb:app_id" content="" /> #}

<!-- Viewport -->
<meta name="viewport" content="width=device-width,initial-scale=1">

<!-- Google -->
<meta name="google-site-verification" content="GNpWBXBMCFjW7thMuE06UvfgI4mktA9EcsevLda9VPU" />