{% include "core/__meta.html" %}

<!-- Stylesheets -->
<link href='http://fonts.googleapis.com/css?family=Maven+Pro:regular,bold,900' rel='stylesheet' type='text/css'>
<!-- <link href='http://fonts.googleapis.com/css?family=Pacifico&v1' rel='stylesheet' type='text/css'> -->
<link href='http://fonts.googleapis.com/css?family=Dancing+Script&v2' rel='stylesheet' type='text/css'>

<!-- Legacy Stylesheets -->
<link rel="stylesheet" href="/assets/style/static/spi/legacy.css">

{% if page.ie %}
	<link rel="stylesheet" href="{{ asset.style('ie', 'compiled') }}">
{% endif %}

{% if tpl.dependencies %}
{% autoescape off %}
	{{ tpl.dependencies.north }}
{% endautoescape %}
{% endif %}