/*

div, h1, h2, h3, h4, h5, h6, ul, b, strong, li, span
{
	 font-family: 'Cabin', 'Lucida Grande', arial, sans-serif; 
}
h1
{
	font-weight:bold;
	font-size:26pt;
}
h2
{
	font-weight:600;
}
h3
{
	font-weight:500;
}

*/