/* ===== Content Body Wrapper & Content Body ===== */
#content_body_wrapper_search
{
	margin:20px;
	height:100%;
	background:#E5E5E5;
}
#content_body_wrapper_search
{
	
}
#content_body_wrapper_search a:hover
{
	background-color: #30c;
}
#content_body_wrapper_search #content_body_search
{
	position:relative;
	display:block;
	top:-20px;
	z-index:10;

	/*padding-top:21px;
	/*padding-left:25px;
	padding-right:25px;*/
	
	padding-bottom:25px;
	background:white !important;
	min-height:500px;
	margin-left:5px;
	margin-right:5px;
	-webkit-box-shadow: #BBB 3px 3px 4px;
	-webkit-border-bottom-right-radius:25px;
	-moz-box-shadow: #BBB 3px 3px 4px;
	-moz-border-bottom-right-radius:25px;
	box-shadow: #BBB 3px 3px 4px;
	border-bottom-right-radius:25px;	
}
#content_body_wrapper_search #content_body_search h2
{
	display:inline;
}

/* === Two-Column Layout === */
#content_body_wrapper_search #results_pane
{
	width:90%;
	float:left;
}
#content_body_wrapper_search #sidebar_pane
{
	margin-right:5px;
	background:#FFC;	
	margin-top:5px;
	width:100px;
	float:right;
}
#content_body_wrapper_search #sidebar_pane #sidebar_pane_header
{
	background:#FFFF76;
	text-align:center;
	text-decoration:underline;
	font-size:20px;
	height:45px;
	line-height:45px;
}
#content_body_wrapper_search #sidebar_pane #sidebar_pane_content
{
	padding-top:15px;
	border-top: 1px solid orange;
	display:none;
}

/* ===== Content Body Header ===== */
#content_body_header_search
{
	background:#C5E2E9;
	height:45px;
}
#content_body_header_search div
{
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
}
#search-form-wrapper
{
	padding-top:10px;
	margin-left:auto;
	margin-right:auto;
	width:850px;
	height:70px;
}
#search-form-wrapper #searchleft
{
	float:left;
}
#search-form-wrapper #searchright
{
	float:right;
	padding-top:5px;
}

/* ===== Search Form ===== */
#search-form
{
	padding-bottom:3px;
	z-index:1000;
	/*overflow:hidden;*/
	padding-left:20px;
	padding-right:20px;
	padding-top:15px;
}

/* ===== Search Unibox ===== */
#search-form #search-unibox
{
	width:500px;
	padding-left:5px;
	display:inline;
	height:30px;
	font-size:20px;
	position:relative;
	top:0;
	left:0;
}

#search-form #search-unibox.noquery
{
	color:#777 !important;
}

#search-form #search-unibox.query
{
	color:#555 !important;
}

/* ===== Search Submit ===== */
#search-form #search-submit
{
	padding-left:7px;
	padding-right:7px;
	font-size:20px;
	margin:0;
	height:30px;
	display:inline;
}

/* ===== Search Options Pane ===== */
#search-options-pane
{
	font-size:12px;
	display:none;
	position:relative;
	top:10;
	height:100px;
	z-index:2010;
	text-align:left;
	padding:0;
	margin:0;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
}
#search-options-pane div.box
{
	position:relative;
	float:left;
	top:10;
	width:200px;
	margin:0;
}

/* ===== Sidebar ===== */
div.meta_pane
{
	min-width:120px;	
	margin-left:10px;
	margin-right:10px;
	margin-bottom:20px;
	background:#FFFF76;
	height:30px;
}
div.meta_pane p
{
	display:inline;
	font-size:13px;
}
div.meta_pane a:hover
{
	background:orange;
}
div.meta_pane div.meta_pane_header
{
	color:#333;
	padding:7px;
}
div.meta_pane div.meta_pane_header p span
{
	font-size:14px;
}
div.meta_pane div.meta_pane_header p span:hover
{
	background:orange;
	color:white;
	cursor:pointer;
}
div.meta_pane div.meta_pane_content
{
	display:none;
	padding:5px;
	padding-top:15px;	
}
div.meta_pane div.meta_pane_content ul
{
	list-style:none;
	padding:0;
	margin:0;
}


/* ==== SEARCH RESULTS ===== */
a:link, .resultHref:active, .resultHref:visited
{
	cursor: pointer;
}

.resultHref:hover
{
	color:white !important;
	text-decoration: none;
}

ol, ul, li
{
	border:0px;
	margin:0px;
	padding:0px;
}

li
{
	line-height:1.2;
}

.searchResultsList
{
	margin-top:25px;
	margin-left:20px;
}

.searchResultContainer
{
	font-family: arial, verdana;
	margin-top:0px;
	margin-bottom:20px;
}

.searchResult
{
	width:700px;
}

.searchSpacer
{
	display: inline-block;
	position: relative;
}

h3
{
	font-size: medium;
	display:inline;
}

.resultText
{
	max-width: 43em;
	font-size:small;
}

cite
{
	color: #0E774A !important;
	font-style: normal;
	cursor: pointer;	
}

cite a
{
	text-decoration:none !important;
	color: #0E774A !important;
}

cite a:hover
{
	background:white !important;
}

em
{
	font-style: normal;
	font-weight: bold;
}

.gl
{
	white-space: nowrap;
}

.resultTags a
{
	color:#4272DB;
	margin-right:5px;
}

.resultTags a:hover
{
	background:white !important;
}

.socialHint
{
	font-size:small;
}

/* ==== Result ButtonBoxes ==== */
.likesCountButtonBox { background: url('/assets/img/static/icons/heart.png') no-repeat 0 50%; }
.commentsCountButtonBox { background: url('/assets/img/static/icons/comment.png') no-repeat 0 50%; }

/* ==== Tag Results ==== */
.tagResultsList
{
	margin-top:23px;
	margin-left:30px;
	list-style:none;
}
.tagResultsList ol
{
	list-style:none;
}
.tagResultList ol li
{
	list-style:none;
}
.tagResult ul
{
	list-style:none;
	text-indent:25px;
}
.tagResult ul li
{
	padding-top:5px;
	padding-bottom:5px;
	list-style:none;
}
.tagResult p
{
	display:inline;
}